@model IEnumerable<ToDoList.WEB.Models.MissionIndexView>

<a href="#" class="btn btn-outline-primary" onclick="return createMission()">Create</a>

@if (Model.Count() > 0)
{
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th>Function</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.MissionId</th>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.MissionStart.ToShortDateString() - @item.MissionFinish.ToShortDateString()
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <h6><a href="#" class="btn btn-outline-primary" onclick="return detailsMission(@item.MissionId)">Details</a></h6>
                            <h6><a href="#" class="btn btn-outline-primary" onclick="return editMission(@item.MissionId)">Edit</a></h6>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Нет данных!</h3>
}