@model IEnumerable<ToDoList.WEB.Models.ProjectIndexView>

<a href="#" class="btn btn-outline-primary" onclick="return createProject()">Create new</a>

@foreach (var m in Model)
{
    <hr />
    <div class="item">
        <h3>@m.Name</h3>
        @m.Description
        <h5>Work day: @m.ProjectStart - @m.ProjectFinish</h5>
        <div class="row row-cols-auto">
            <div class="col">
                <h6><a href="#" class="btn btn-outline-primary" onclick="return detailsProject(@m.ProjectId)">Details</a></h6>
            </div>
            <div class="col">
                <h6><a href="#" class="btn btn-outline-primary" onclick="return editProject(@m.ProjectId)">Edit</a></h6>
            </div>
        </div>
    </div>
}